.App {
  display: grid;
  grid-template-columns: 50em auto;
  margin: 0.25em;
  padding: 0.25em;
}
.left_side{
  border: 1px solid black;
  border-radius: 10px;
  
}
.right_side{
  background-color: lightblue;
  
  
}